#project-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
  font-weight: normal;
  box-shadow: 0px 0px 15px gray;
  border-radius: 10%;
  text-decoration: none;
  overflow: hidden;
  text-align: center;
  }
  @media screen and (max-width: 750px){
    #project-list {
      display: grid;
      grid-template-columns: 90%;
      column-gap: 10px;
      row-gap: 10px;
      font-weight: normal;
      box-shadow: 0px 0px 15px gray;
      border-radius: 10%;
      text-decoration: none;
      overflow: hidden;
      text-align: center;
    }
  } /* media query for 750px  */
  .project-card{
    box-shadow: 0px 0px 15px gray;
    border-radius: 10%;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
  }

  html {
    /* background: linear-gradient(0deg, rgba(209,195,195,1) 30%, rgba(75,70,70,1) 75%, rgba(0,0,0,1) 100%); */
    background: rgb(202, 224, 177, 0.6);
    font-family: "Roboto", sans-serif;
    margin: 6vw;
    margin-top: 2vw;
    font-weight: normal;
  }
  body{ 
    display:flex;
    flex-direction: column;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5), 
        rgba(255, 255, 255, 0.5)
      ), url(green_leaves.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-position: right top; */
    border-radius: 10%;
  }

  
  header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #000;
  }
  
  /* img {
      filter: grayscale(100%);
  } */
  
  h1 {
    font-family: "Roboto", sans-serif;
      text-decoration: none;
      font-size: 2rem;
      margin: 0;
  }
  
  h2 {
    font-family: "Roboto", sans-serif;
  }
  
  h3 {
      font-size: 2rem;
      margin: 0;
  }
  a {
      font-size: 18px;
      text-decoration: none;
    }
  /* #header-text {
      flex-basis: 80%;
      display: flex;
  } */
  
  /* nav {
      flex-basis: 80%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
  } */
  
  a {
      margin: 2px;
      text-decoration: none;
      color: #000;
  }
  
  a, p {
      font-family: monospace;
  }
  
  /* ---------------------------------------------------
                        Form Styles
  ----------------------------------------------------*/
  form {
    margin: 50px auto;
    width: 90%;
  }
  
  .form-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .form-item label {
    flex-basis: 150px;
    font-size: 22px;
  }
  label{
    font-size: 22px;
  }
  
  .form-item input,
  .form-item textarea {
    flex-basis: 50%;
    border: 2px solid rgb(152, 157, 106)C;
  }
  
  .form-item input:hover,
  .form-item textarea:hover {
    border: 2px solid rgb(204, 226, 7);
  }
  
  .form-item input,
  .form-item textarea,
  .form-item button {
    border: 2px solid rgb(152, 157, 106);
    border-radius: 25px;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
    text-align: center;
  }
  
  .form-item button:hover {
    border: 2px solid  rgb(204, 226, 7);
    background-color:  rgb(204, 226, 7);
    color: #FFF;
  }
  .form-item button:hover {
    background: rgb(204, 226, 7);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(204, 226, 7),
                0 0 25px rgb(204, 226, 7),
                0 0 50px rgb(204, 226, 7),
                0 0 100px rgb(204, 226, 7);
  }
  
  .form-item button {
    width: 100px;
  }
  /* ---------------------------------------------------
                  ANIMATED BUTTON STYLES
  ----------------------------------------------------*/
  form .form-item  button {
    border: 2px solid rgb(152, 157, 106);
    border-radius: 25px;
    background-color: #FFF;
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
    color: rgb(204, 101, 3);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
  }
  
  .form-item button:hover {
    background: rgb(204, 101, 3);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(204, 101, 3),
                0 0 25px rgb(204, 101, 3),
                0 0 50px rgb(204, 101, 3),
                0 0 100px rgb(204, 101, 3);
  }
  
  .form-item button span {
    position: absolute;
    display: block;
  }
  
  .form-item button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, rgb(204, 101, 3));
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .form-item  button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgb(204, 101, 3));
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .form-item  button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, rgb(204, 101, 3));
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .form-item  button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, rgb(204, 101, 3));
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  
  /* ---------------------------------------------------
                  MAIN NAVIGATION STYLES
  ----------------------------------------------------*/
  
  .main-navigation ul {
      padding-left: 0;
    }
    
    .main-navigation li, button {
      list-style: none;
      text-align: center;
      margin: 10px 0;
      background-color: rgb(249,167,68);
    }
    
    .main-navigation a, button {
      display: block;
      padding: 15px 10px;
      text-decoration: none;
      text-transform: uppercase;
      background: rgba(67,67,67,0.17);
      color: #FFF;
    }
    
      .main-navigation a:visited {
        /* color: rgb(106,106,106); */
        color: #FFF;
      }
    
      .main-navigation a:hover {
        color: rgb(8, 211, 18);
        transition: .5s color;
        background: rgba(62, 61, 61, 0.51);
      }
    
      .main-navigation a:active {
        color: rgb(172,140,71);
      }
    
    @media screen and (min-width: 750px){
      
      .main-navigation {
        min-height: 100px;
        border-top: 1px solid rgb(36,36,36);
        border-bottom: 1px solid rgb(36,36,36);
      } /* media query for 750px  */
      
      .main-navigation ul {
        max-width: 950px;
        margin: 0 auto;
      }
      
        .main-navigation li {
          float: left;
          margin-left: 20px;
          width: 20%;
        }
        .main-navigation ul .createAccount {
          width: 25%;
        }
      
        .main-navigation a {
          background: none;
        }
      
          .main-navigation a:hover {
            background: none;
          }
    } /* media query for 750px  */
    
    @media screen and (min-width: 880px){
      
      .main-navigation ul {
        position: relative;
        right: -30px ;
      }
      
    }/* media query for 880px  */
    /* ---------------------------------------------------
                  DELETE HTML STYLES
  ----------------------------------------------------*/
  .form-delete form {
    margin: 50px auto;
    width: 90%;
  }
  
  .form-delete p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  
  .form-delete button {
    border: 2px solid #FDDC5C;
    background-color: #FFF;
    padding: 5px;
    font-size: 18px;
  }
  
  .form-delete button:hover {
    border: 2px solid rgb(249,167,68);
    background-color: rgb(249,167,68);
    color: #FFF;
  }
  
  .form-delete button {
    width: 500px;
  }
    /* ---------------------------------------------------
                  Profile View STYLES
  ----------------------------------------------------*/
  .form-Profile p, h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 18px;
  }

/* ---------------------------------------------------
                PROGRESS BAR STYLES
----------------------------------------------------*/
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.progress-container{
  float: right;
  width: 90%; /* Full width */
  background-color: #ddd; /* Grey background */
  border-radius: 20px;
}

.progress {
  text-align: right; /* Right-align text */
  padding-top: 3px; /* Add top padding */
  padding-bottom: 3px; /* Add bottom padding */
  text-align: center;
  color: white; /* White text color */
  border-radius: 20px;
}
.A { background-color: rgb(28, 106, 5);} /* Green */